:root {
    --light-red:hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    --bg-gradient-from: hsl(252, 100%, 67%);
    --bg-gradient-to: hsl(241, 81%, 54%);
    --circle-gradient-from: hsla(256, 72%, 46%, 1);
    --circle-gradient-to: hsla(241, 72%, 46%, 0);

    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 1.125rem;
}

.sr-only{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}


body {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-content: center;
    place-items: center;
    font-family: 'Hanken Grotesk', sans-serif;
}

main{
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-content: center;
    place-items: center;
}

.result-summary {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.result {
    width: 100%;
    height: 21.875rem;
    background-image: linear-gradient(var(--bg-gradient-from), var(--bg-gradient-to));
    border-radius: 0 0 1.875rem 1.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.9375rem;
    padding: 0rem 3.75rem;
    color: var(--light-lavender);
}

.result h2 {
    font-size: 1.125rem;
    font-weight: 700;
}

.result-circle {
    width: 8.4375rem;
    height: 8.4375rem;
    border-radius: 50%;
    padding: 1.25rem;
    background-image: linear-gradient(var(--circle-gradient-from), var(--circle-gradient-to));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result-circle p:nth-child(1) {
    font-size: 3.4375rem;
    color: var(--white);
    font-weight: 700;
}

.result-circle p:nth-child(2) {
    font-size: 0.9375rem;
    color: var(--light-lavender);
    opacity: 60%;
    font-weight: 700;
}

.result-summary p:nth-child(3) {
    font-size: 1.4375rem;
    color: var(--white);
    font-weight: 700;
    letter-spacing: 0.0625rem;
}

.result-summary p:nth-child(4) {
    font-size: 1rem;
    opacity: 90%;
}

.summary {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.875rem;
    gap: 1.5625rem;
}

.summary h2 {
    align-self: flex-start;
    font-size: 1.125rem;
}

.scores {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
}


.score {
    width: 100%;
    height: 3.4375rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem;
}

.score p {
    font-size: 1rem;
    font-weight: 700;
}

.score p span {
    opacity: .5;
}

.reaction {
    background-color: hsla(0, 100%, 67%, .1);
}

.reaction .score-left p {
    color: var(--light-red);
}

.memory {
    background-color:  hsla(39, 100%, 56%, 0.1);
}

.memory .score-left p {
    color: var(--orangey-yellow);
}

.verbal {
    background-color:hsla(166, 100%, 37%, .1) ;
}

.verbal .score-left p {
    color: var(--green-teal);
}

.visual {
    background-color: hsla(234, 85%, 45%, .1);
}

.visual .score-left p {
    color: var(--cobalt-blue);
}

.score-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
}

.summary a {
    text-decoration: none;
    color: var(--white);
    background-color: var(--dark-gray-blue);
    width: 100%;
    height: 3.4375rem;
    border-radius: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
}

.summary a:hover {
    background-image: linear-gradient(var(--bg-gradient-from),var(--bg-gradient-to));;
}

@media (min-width: 900px) {

    body {
        background-color: hsla(222, 100%, 96%, 0.049);
    }

    .result-summary {
        flex-direction: row;
        width: 45rem;
        min-height: 32.5rem;
        border-radius: 1.875rem;
        background-color: var(--white);
        -webkit-box-shadow: 8px 5px 11px 0px hsl(241, 100%, 89%);
        box-shadow: 10px 10px 20px 5px hsla(241, 100%, 89%, 0.2);
    }

    .result {
        width: 50%;
        height: 32.5rem;
        border-radius: 1.875rem;
        gap: 1.25rem;
        justify-content: space-evenly;
        padding: 2.1875rem 3.125rem;
    }

    .summary {
        width: 50%;
        height: 32.5rem;
        padding: 2.1875rem;
        gap: 2.1875rem;
    }

    .summary h2 {
        font-size: 1.375rem;
    }

    .result h2 {
        font-size: 1.375rem;
    }

    .result-circle {
        width: 12.5rem;
        height: 12.5rem;
    }

    .result-circle p:nth-child(1) {
        font-size: 4.375rem;
        font-weight: 800;
    }

    .result-circle p:nth-child(2) {
        font-size: 1.125rem;
    }

    .result p:nth-child(3) {
        font-size: 1.875rem;
    }

    .result p:nth-child(4) {
        font-size: 1.125rem;
        text-align: center;
    }
}